<body style="font-family: 'Poppins', Arial, sans-serif">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td align="center" style="padding: 20px;">
            <table class="content" width="600" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border: 1px solid #cccccc;">
                <!-- Header -->
                <tr>
                    <td class="header" style="background-color: #345C72; padding: 40px; text-align: center; color: white; font-size: 24px;">
                        Welcome to sourceuit.tech
                    </td>
                </tr>

                <!-- Body -->
                <tr>
                    <td class="body" style="padding: 40px; text-align: left; font-size: 16px; line-height: 1.6;">
                        Hello, {your-name}! <br>
                        Chao mai, may vua dang ky tai khoan tren trang web cua tao thanh cong roi do!
                        <br><br>
                        <a href="https://www.facebook.com/tuyenphan1712">Facebook</a> <br>
                        Khi can co the lien he voi t qua duong dan facebook tren!
                    </td>
                </tr>

                <!-- Call to action Button -->
                <tr>
                    <td style="padding: 0px 40px 0px 40px; text-align: center;">
                        <!-- CTA Button -->
                        <table cellspacing="0" cellpadding="0" style="margin: auto;">
                            <tr>
                                <td align="center" style="background-color: #345C72; padding: 10px 20px; border-radius: 5px;">
                                    <a href="https://i1.sndcdn.com/artworks-000036531109-1ramzv-t500x500.jpg" target="_blank" style="color: #ffffff; text-decoration: none; font-weight: bold;">Sup Rai mother fucker</a>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td class="body" style="padding: 40px; text-align: left; font-size: 16px; line-height: 1.6;">
                        The la xong roi do del con con me j dau ma doc! fuck bitch! cooking
                    </td>
                </tr>
                <!-- Footer -->
                <tr>
                    <td class="footer" style="background-color: #333333; padding: 40px; text-align: center; color: white; font-size: 14px;">
                        Copyright &copy; 2024 | good bye the bitch!
                    </td>
                </tr>

            </table>
        </td>
    </tr>
</table>
    <div align="center" style="padding: 20px;">
        <img style="height: 340px" src="https://ih1.redbubble.net/image.167358840.9846/flat,750x,075,f-pad,750x1000,f8f8f8.u3.jpg" alt="">
    </div>
</body>